$cardinalDirectionsShift: 1rem;
$scaledown: 5;

$color-base: #fff;
$color-active: wheat;

$temp: rgb(255, 166, 0);
$clouds: rgb(255, 255, 255);
$rainsnow: rgb(111, 226, 255);
$humidity: rgb(176, 131, 194);
$pressure: rgb(82, 218, 143);
$wind: rgb(218, 82, 82);

$color-bg-sky-bottom: #032840;
$color-bg-sky-top: #488b8e;
$color-app-name: #0072a9;
$color-search: wheat;
$color-search-label: #fff;
$color-temperature: #fff700;
$color-arrow: $color-active;