$cardinalDirectionsShift: 1rem;
$scaledown: 5;

$colorBase: wheat;

$temp: rgb(255, 166, 0);
$clouds: rgb(255, 255, 255);
$rainsnow: rgb(111, 226, 255);
$humidity: rgb(176, 131, 194);
$pressure: rgb(82, 218, 143);
$wind: rgb(218, 82, 82);

$color-bg-sky-bottom: #4d8cb4;
$color-bg-sky-top: #4dafb4;
/* $color-bg-sky-bottom: #29476b;
$color-bg-sky-top: #a8f3ff; */
$color-app-name: #0072a9;
$color-search: wheat;
$color-temperature: #fff700;
